<div class="col-sm-12 col-md-3" id="product">
  <% cache product do %>
    <%= image_tag(product.image_url, class: "img-responsive", id: "product_images") %>
    <a><h1><%= link_to product.name, product %></h1></a>
    <p><%= product.price %> USD</p>
  <% end %>

  <% if signed_in? && current_user.admin? %>
    <p><%= link_to 'Show', product %></p>
    <p><%= link_to 'Edit', edit_product_path(product) %></p>
    <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>
