<p id="notice"><%= notice %></p>

<div class="container-fluid" id="show_product">

  <p>
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div><!-- end show_product -->

<div class="container-fluid" id="comment_section">

  <%= render 'new_comment' %>
  <%= render 'comments' %>
</div><!-- end comment_section -->


<div class="container-fluid" id="user_comments">
  <h2>User Comments</h2>

  <p><%= @product.highest_rating_comment %></p>
  <p><%= @product.lowest_rating_comment %></p>
  
</div><!-- end user_comments -->
