<p id="notice"><%= notice %></p>

<div class="container-fluid" id="show_product">

  <p>
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>

<div class="container-fluid" id="user_comments">
  <h2>User Comments</h2>

  <%= @product.highest_rating_comment %>
  <%= @product.lowest_rating_comment %>

</div>
